<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lessson4/src/ee/tut/oop/inventory/test/Inventory.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ee.tut.oop.inventory.test.Inventory"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lessson4"/>
</launchConfiguration>
